*$py.class
*.bak
*.cover
*.egg
*.egg-info/
*.log
*.pdf
*.py[cod]
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.hypothesis/
.installed.cfg
.mypy_cache/
.nox/
.pytest_cache/
.tox/
.vscode
MANIFEST
__pycache__/
build/
coverage.xml
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
dummy.py
eggs/
htmlcov/
lib/
lib64/
nosetests.xml
parts/
penv/
pip-wheel-metadata/
sdist/
share/python-wheels/
var/
venv/
wheels/
archive/
logs/
data/
